@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

header {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

body {
  background-color: rgba(108, 106, 106, 0.558);
  font-family: 'Dancing Script', cursive;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

/* unvisited link */
a:link {
    color: rgba(255, 255, 255, 0.83);
  }
  
  /* visited link */
a:visited {
    color: rgb(134, 106, 143);
  }

.nav>li>a:hover {
    color: rgb(79, 151, 160);
  }

.icons {
    margin-right: 10px;
}

.photos {
  margin-top: 120px;
  margin-bottom: 100px;
}

.description {
  margin-top: 300px;
  text-align: left;
}

.description2 {
  margin-top: 210px;
  text-align: left;
}

.contactform {
  background-color: rgba(0, 0, 0, 0.556);
  border-radius: 30px;
  width: 800px;
  margin-left: 450px;
  margin-top: 100px;
  padding-top: 20px;
  margin-bottom: 200px;
}

.button {
  margin-left: 350px;
  margin-bottom: 50px;
  width: 100px;
}

label {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type=name] {
  width: 700px;
}

input[type=email] {
  width: 700px;
}

textarea {
  width: 700px;
}

.logo {
  background-color: #47555e;
}