@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background-image: url("src/homepage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(145, 142, 142);
    font-size: 50px;
}

header {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
a:visited {
    color: rgb(173, 138, 184);
  }

.nav>li>a:hover {
    color: rgb(79, 151, 160);
  }

div.maintitle {
    text-align: center;
    margin-top: 50%;
}

.icons {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 80px;
  }

  header {
    font-size: 30px;
  }

  div.maintitle {
    text-align: center;
    margin-top: 50%;
  }

  .icons {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
}


@media screen and (min-width: 992px) {
  body {
    font-size: 100px;
  }

  header {
    font-size: 30px;
  }

  div.maintitle {
    text-align: center;
    margin-top: 15%;
  }

  .icons {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
}