@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background-image: url("src/homepage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(182, 207, 232);
}

header {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
a:visited {
    color: rgb(173, 138, 184);
  }

.nav>li>a:hover {
    color: rgb(79, 151, 160);
  }
  