@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background-image: url("src/homepage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(145, 142, 142);
    font-size: 100px;
}

header {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
a:visited {
    color: rgb(173, 138, 184);
  }

.nav>li>a:hover {
    color: rgb(79, 151, 160);
  }

div.maintitle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.icons {
    margin-right: 10px;
}

footer {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

